@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://rsms.me/inter/inter-ui.css');

* {
    cursor: default;
    user-select: none;
}

body {
    min-height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    font-family: 'Inter UI', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
    color: var(--color-black);
}

a {
    text-decoration: none;
    color: var(--color-black);
    transform: scale(1);
    transition: transform 140ms ease;
    display: inline-flex;

    &[href] {
        cursor: pointer;
    }

    &:hover {
        color: var(--color-primary);
    }
}

.logo {
    background-color: var(--color-black);
    color: var(--color-white); 
    padding: 4px 6px;
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    a + a {
        margin-left: 24px;
    }
}

strong {
    font-weight: 600;
}

main {
    max-width: 920px;
    width: 100%;
    padding: 0 32px 0 32px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 112px 0 100px;

    h1 {
        font-weight: 600;
        font-size: 76px;
        letter-spacing: -1.6px;
        margin: 0;
    }

    h4 {
        font-size: 24px;
        font-weight: 400;
        margin: 16px 0 36px 0;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;

    .item {
        padding: 64px 20px 20px 20px;
        font-size: 40px;
        font-weight: 800;

        span {
            position: relative;
            left: -6px;
            padding: 0 6px;
            background-color: var(--color-black-transparent);
        }
    }
}

.text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 48px;
}

.item.green {
    background-color: var(--color-green);
}

.item.yellow {
    background-color: var(--color-yellow);
}

.item.purple {
    background-color: var(--color-purple);
    color: var(--color-white);
    span {
        background-color: var(--color-white-transparent);
    }
}

.item.pink {
    background-color: var(--color-pink);
    color: var(--color-white);
    span {
        background-color: var(--color-white-transparent);
    }
}

.item.black {
    background-color: var(--color-black);
    color: var(--color-white);
    span {
        background-color: var(--color-white-transparent);
    }
}

.item.white {
    background-color: var(--color-white);
}

.item.teal {
    background-color: var(--color-teal);
}

.item.blue {
    background-color: var(--color-blue);
}

.item.white {
    background-color: var(--color-white);
}

.item.orange {
    background-color: var(--color-orange);
}

.item.slate {
    background-color: var(--color-slate);
    color: var(--color-white);
    span {
        background-color: var(--color-white-transparent);
    }
}

.tabs {
    display: flex;

    .tab {
        background-color: var(--color-snow);
        color: var(--color-black);
        padding: 12px 16px;

        &:first-of-type {
            border-radius: 4px 0 0 4px;
        }

        &:last-of-type {
            border-radius: 0 4px 4px 0;
        }

        &:hover {
            background-color: var(--color-dim);
        }

        &.selected {
            --color-white: #fff;

            background-color: var(--color-primary);
            color: var(--color-white);
        }
    }
}

footer {
    color: var(--color-slate);
    padding: 72px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}